
body {
    padding: 0;
    margin: 30px 0;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 12pt;
}

/* text styling */
legend {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}

strong {
  font-weight: 600;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

h1 {
  margin-top: 0px;
}


/* these are all the same for now, but easy to modify individually */
#container-not-an-ad, #container-error, #container-exp {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.attempt h4, .mechanism h4 {
    font-weight: 300;
}

.caption {
    line-height: 1.2;
}

.trialnav {
    margin: 20px auto;
}

.question {
  margin-bottom: 30px;
}

.last {
    margin-bottom: 0px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}

.previous {
    float: left;
}

.continue {
    float: right;
}

#instructions {
    margin-top: 30px;
}

.sequence,.option {
    font-size: 0pt;
    text-align: center;
}

.question label {
    margin-left: 10px;
}

#history .response p{
    margin: 0;
    font-size: 10pt;
    text-align: center;
}

.instructions img {
    margin: 0 auto;
    display: block;
}

#exhort {
    font-weight: 500;
}

.prompt p {
    text-align: center;
    font-size: 10pt;
    font-weight: 300;
    margin-bottom: 0;
}

#responses p {
    margin-bottom: 5px;
    font-size: 10pt;
}

.last .option .btn-outline-secondary:hover {
    background-color: #eeeeee;
}

.hidden {
    display: none;
}

.lock {
    padding: 10px;
    border: 2px solid #999999;
    border-radius: 1rem;
}
